<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<script>
    window.onload=function () {
        new Vue({
            el:'#box',
            data:{
                myData:[],
                t1:''
            },
             methods:{
                get:function () {
                    this.$http.jsonp();
                }
             }
        });
    };
</script>
<body>
    <div id="box">
        <input type="text" v-model="t1" @keyup="get()">
        <ul>
            <li v-for="value in myData">
                {{value}}
            </li>
        </ul>
        <p v-show="myData.length==0">暂无数据</p>
    </div>

</body>
</html>