<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>复选框绑定数据</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="myApp">
    <h1>表单复选框</h1>
    <input type="checkbox"id="生化危机7" value="生化危机7" v-model="checkedGame">
    <label for="生化危机7">生化危机7</label>
    <input type="checkbox"id="模拟飞行"value="模拟飞行"v-model="checkedGame">
    <label for="模拟飞行">模拟飞行</label>
    <input type="checkbox"id="传说"value="传说" v-model="checkedGame">
    <label for="传说">传说</label>
    <p>你选择的是：{{checkedGame}}</p>
</div>
</body>
<script>
    new Vue({
        el:'#myApp',
        data:{
            checkedGame:[]
        },
        methods:{

        },
    });
</script>
</html>